{% extends 'base.html' %}
{% load static %}

{% block title %} приветее!! {% endblock %}


{% block content %}

    <div class="container">
        <br><br><br>
        <h1>Добавьте свой любимый автомобиль</h1>
    </div>

    <div class="container">

        <br>

        <div class="form">
            <form class="" method="post">

                {% csrf_token %}

                {{ form.name_auto }} <br>
                {{ form.model_auto }} <br>
                {{ form.year }} <br>
                {{ form.color }} <br>
                {{ form.lenght }} <br>
                {{ form.width }} <br>
                {{ form.height }} <br>
                {{ form.clearance }} <br>

                <button type="submit", class="btn btn-outline-primary">Save</button>

            </form>
        </div>
    </div>

<!--<form>-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputEmail1">Email address</label>-->
<!--    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputPassword1">Password</label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--  </div>-->
<!--  <div class="form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->


{% endblock %}
<br><br><br><br><br><br>


