{% extends 'base.html' %}
{% load static %}

{% block title %} Страница всех машин {% endblock %}



{% block content %}
<div class="top-menu"></div>
<div class="container">

    <center><h1 class="p-3">Ваши добавленные автомобили</h1></center>

    <a href="{% url 'car'  %}" class="btn btn-primary btn-lg btn-block" role="button">Добавить новую машину</a>

    <br><br>

    <div class="table-response">
        <table id="car_table" class="table table-striped">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Марка авто</th>
                <th scope="col">Модель авто</th>
                <th scope="col">Год выпуска</th>
                <th scope="col">Объем двигателя</th>
                <th scope="col">ККП</th>
                <th scope="col">Цвет авто</th>
                <th scope="col">Длина</th>
                <th scope="col">Ширина</th>
                <th scope="col">Высота</th>
                <th scope="col">Клиренс</th>

            </tr>
          </thead>
          <tbody>
                {% for car in cars %}
            <tr>

                    <th scope="row">{{ car.id }}</th>
                    <td scope="row"><a href="{% url 'car_detail' car.id %}">{{ car.name_auto }}</a></td>
                    <td scope="row">{{ car.model_auto }}</td>
                    <td scope="row"><center>{{ car.year }}</center></td>
                    <td scope="row"><center>{{ car.engine_capacity }}</center></td>
                    <td scope="row"><center>{{ car.transmission }}</center></td>
                    <td scope="row"><center>{{ car.color }}</center></td>
                    <td scope="row"><center>{{ car.length }}</center></td>
                    <td scope="row"><center>{{ car.width }}</center></td>
                    <td scope="row"><center>{{ car.height }}</center></td>
                    <td scope="row"><center>{{ car.clearance }}</center></td>



            </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>
</div>



{% endblock %}