{% extends 'base.html' %}
{% load static %}
{% block title %}CSS animation {% endblock %}

{% block content %}
<center><h1 class="animate__animated animate__bounce">hello!</h1></center>


<div class="block">
    <div class="circle"><span>Some icon</span></div>
    <div class="text">
        <h3>Наведите курсор на кружок</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eos ex necessitatibus quasi quos, vero! </p>
    </div>
</div>

{% endblock %}