{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block home %}

<!-- First Container -->


<div class="section">
    <div class="pr-item">
        <div class="row">
            <div class="col-lg">

            </div>
        </div>
    </div>
</div>





<!-- Second Container -->

<div class="container-fluid text-center" id="section-2">
  <h3 class="margin">What Am I?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>


{% endblock %}