.navbar{
    margin-bottom: 0;
    border-radius: 0;
    padding: 10px
}

#navbar{
    font-size: 1.3em;
}

.navbar-brand{
    font-weight: 700;
    font-size: 1.3em;
}

.pr-item{
    height: 600px;
    background: #1abc9c;
    position: relative;
    margin-top:0;
}


#section-1{
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

#section-2{
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}


}



